/*Clear Initial Margins/Padding*/

h1 {
margin: 0 0 0 0;
padding: 0 0 0 0;
}

/*Set Background(s)*/
html {
	background:url('../images/green_bg.png');
	background-repeat:repeat;
}
/*****************Layout*************/

/*Logo & Hamburger - flex controlled*/

.flex {
	display:flex;
	align-items:center;
	justify-content: space-around;
}

.hamburger {
	margin:0px 160px 0px 0px ;
	flex:0;
	height:40px;
}

.logo {
	padding:10px;
	height:40px;
}

/*Header - float controlled (to display understanding)*/

.HeaderTitle h1 {
	margin: 0 auto;
	width:200px;
}

/*Navigation - flex controlled*/

nav {
	border:1px solid black;
}

nav ul {
	display:flex;
	flex-direction:column-reverse;
	align-items:center;
	list-style:none;
}

nav li {
	margin:5px;
	width:200px;
	background-color:white;
	border:1px solid red;
	float:center;
}

nav a {
	text-decoration:none;
}





