/*------------------------------------------------
--------------------------------------------------
GLOBAL SETTINGS-----------------------------------
--------------------------------------------------
------------------------------------------------*/

/******************************************
Font***************************************
******************************************/

h1 {
	font-weight:400;
}

h4 {
	font-size:2vw;	
}

h5 {
	font-size:1.2vw;
	font-weight:200;	
	
}

h3 {
	font-size: 1.5vw;
	font-weight:200;
}

h4 {
	font-weight:200;
}

h6 {
	margin: 10px 0 0 0;
}

a {
	text-decoration: none;
}

ul {
	list-style:none;
}

.contact, .sub-hero-1, .sub-hero-2, .footer {
	color: white;
}

.CTA {
	color:black;
}


/******************************************
Layout*************************************
******************************************/

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 8vh;	
	margin-top: -10vh;
	padding:1vh;
	background-color: rgba(253,23,39,.8);	
}

.CTA {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	width: 60%;
	min-height:94vh; /*Sorry IE...*/
	margin: 45px auto 0 auto;
	padding-top:40px;
	
}

.hero {
	width:100%;
	display:flex;
	flex-direction:row;
	margin-top:16vh;
}

.portfolio {
	margin-bottom: 20vh;
	background:rgba(0,0,0,.05);
	min-height:93vh; /*Sorry IE...*/
	margin-top:9vh;
}

#companies {
	margin-top:11vh;
	margin-bottom: 12vh;
	background:rgba(0,0,0,0);
	min-height:250px;
}

.sub-heroes {

	min-height:50vh; /*Sorry IE...*/
}


.portfolio-pieces {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	padding: 2vw;

}

.portfolio-piece {
	display: flex;
	justify-content: flex-start;
	flex-direction:column;
	flex-wrap: wrap;
	min-width: 200px;
	width: 25%;
	min-height: 200px;
	margin: 20px 5px 0 5px;
	border-bottom:2px solid grey;
	border-right:2px solid grey;
}

#sub-heroes-title {
	text-align:center;
	margin-top:9vh;
	padding:40px 0;
	background-color:rgba(0,0,0,.05);
}

.sub-heroes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width:100%;
	padding:2vh 0;
}

.sub-hero-1, .sub-hero-2 {
	width:35vw;
	max-height:400px;
	text-align:left;
	border:1px solid white;
	padding:10px;
	background-color:rgba(0,0,0,.5);
}

footer {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: rgba(253,23,39,.8);	
}

.social {
	display:flex;
	flex-direction:row;
	justify-content: center;
}

/******************************************
Header*************************************
******************************************/

header {
	padding:10px 0;
}

nav a:hover {
	color: black; 
	transition: .1s, ease-in;
}

nav a {
	color:white;
}

nav ul {
	display: flex;
	flex-direction: row;
	border-right: 1px solid white;
}

nav li { 
	border-left: 1px solid white;
	padding:0 10px;
}

/******************************************
Section Shared Settings********************
******************************************/

.section-title {
	width:100%;
	color:black;
	font-weight:400;
	text-align:center;
	padding:30px 0 0 0;
}


/******************************************
CTA****************************************
******************************************/

.CTA h1 {
	font-size:2.5em;
	
}

.CTA ul {
	padding:0px;
}

.sub-hero-1 h5 {
	margin-left:25px;
}

.sub-heroes h4  {
	color:white;
	margin-top:10px;
}

#avatar {
	width:40%;
	padding-bottom:20px;
}

.CTA.a {
	margin-top:10vh;
}

#downArrow {
	width:4vw;
	padding-top:5vh;
}


/******************************************
Portfolio**********************************
******************************************/

.sub-hero-title {
	width:100vw;
}

.portfolio-title {
	color:black;
	background-color:white;
	text-align: center;
	width:100%;
	height:5vw;
	font-size:1.8vw;
	font-weight:100;
	border-bottom:1px solid rgba(0,0,0,.3);
	
}

.portfolio-description {
	display:flex;
	flex-direction:column;
	background-color:white;
	padding:0 10px 10px 10px;
	margin-top:100px;
	min-height:50px;
	align-self:flex-end;
	border-top:1px solid rgba(0,0,0,.3);
}

.portfolio-piece h6 {
	color:black;
}


button {
	margin-top:10px;
	background-color:rgba(253,40,61,.8);
	width:100%;
	color:white;
		border-bottom:2px solid grey;
	border-right:2px solid grey;
}

.inactive {
	background-color:white;
}

#downArrow2 {
	width:4vw;
	padding-top:5vh;
	margin-left:48%;
}


.bslc {
	background:url('../images/bslc_bg.jpeg');
	background-size:cover;
}

.blackjack {
	background:url('../images/cards.png');
	background-size:cover;
}

.operationcode {
	background:url('../images/badge.png');
	background-size:80px;
	background-position:center;
	background-repeat:no-repeat;
	background-color:white;
}

#downArrow3 {
	display:block;
	width:4vw;
	padding-top:3vh;
	margin-left:48%;
	margin-right:48%;
}

/******************************************
Companies**********************************
******************************************/

#companies img {
	height:80px;
	margin:20px;
}

.company-logos  {
	display:flex;
	flex-wrap:wrap;
	margin:20vh 0 0 0;
	align-content:space-around;
	justify-content: center;
}

/******************************************
Footer*************************************
******************************************/

footer img {
	height:50px;
	width:50px;
	margin:0 10px 0 0;
}

footer p {
		align-self:center;
	}

footer #bottom-CTA {
	padding:15px;
}






/******************************************
Medium Screen Special Settings**************
******************************************/

@media (min-width:430px) AND (max-width:600px) {


	h3 {
		font-size: 3.4vw;
		font-weight:200;
	}

h4 {
	font-size:3vw;	
}

h5 {
	font-size:3vw;	
	font-variant:small-caps;
}

	header {
		position:fixed;
		margin-top:-50px;
	}

	.portfolio {
		margin-top:5vh;
	}

	.portfolio-title {
		height:10vw;
		font-size:2.8vw;
	}

	.sub-hero-1, .sub-hero-2 {
		width:45vw;
	}

	.sub-heroes {
		margin-bottom:5vh;
	}


	.CTA {
		text-align:center;
	}

	.flex-head {
		width:100%;
		display:block;
	}


	.logo {
		margin:0 0 0 0;
		align-self:center;
		max-height:40px;
	}

	.logo-burger-title {
		display:flex;
		flex-direction:row;	
		width:100vw;
		height:40px;
		margin:0 0 0 0;
	}

	.burger {
		display:none;
		align-self:center;
		margin:0 0 0 1%;
		max-width:40px;		
	}

	.title {
		text-decoration:none;
		color:white;
		margin: 0 auto;
	}

	.smallLinkDiv {
		margin-top:30px;
	}

	#avatar {
	width:40%;
	padding-bottom:20px;
	}

.CTA.a {
	margin-top:10vh;
}

#downArrow {
	width:4vw;
	padding-top:5vh;
}

}

/******************************************
BIG Screen Special Settings****************
******************************************/


 @media only screen and (min-width:600px) {

	h3 {
		font-size: 1.8vw;
		font-weight:200;
	}

	.logo-burger-title {
		order:-3;
		align-self:flex-start;
		margin:0;
	}

	.CTA {
		order:-2;
	}

	nav {
		order:-1;
	}

	.CTA h6 {
		display:none;
	}

	header {
		position:fixed;
		width:100vw;
		display:inline-flex;
		flex-direction:row;
	}

	.logo-burger-title {

		padding:3px 0 0 0;
		height:40px;
		width:300px;
		display:inline;
	}

	.logo {
		margin:0 10px 0 0;
		max-height:40px;
		align-self:flex-end;
	}


	.title {
		text-decoration:none;
		color:white;
		padding: 0 0 0 45px;
		order:1;
	}

	.portfolio-title {
		height:6vw;
		font-size:2.5vw;
	}

	nav {
		order:2;
		margin-right:6%;
	}

	.burger {
		display:none;
	}

	.smallLinks {
		display:none;
	}

	#avatar {
	width:30%;
	padding-bottom:20px;
	}

.CTA.a {
	margin-top:10vh;
}

#downArrow {
	width:4vw;
	padding-top:5vh;
}
}


/******************************************
Small Screen Special Settings**************
******************************************/

@media (min-width:1px) AND (max-width:430px) {


	h3 {
		font-size: 4vw;
		font-weight:200;
	}

	h4 {
		font-size:3vw;	
	}

	h5 {
		font-size:3vw;	
		font-variant:small-caps;
	}

	header {
		position:fixed;
		margin-top:-50px;
	}

	.portfolio {
		margin-top:5vh;
	}

	.portfolio-title {
		height:10vw;
		font-size:2.8vw;
	}

	.sub-hero-1, .sub-hero-2 {
		width:45vw;
	}



	.CTA {
		text-align:center;
	}

	.flex-head {
		width:100%;
		display:block;
	}


	.logo {
		margin:0 0 0 0;
		align-self:center;
		max-height:40px;
	}

	.logo-burger-title {
		display:flex;
		flex-direction:row;	
		width:100vw;
		height:40px;
		margin:0 0 0 0;
	}

	.burger {
		display:none;
		align-self:center;
		margin:0 0 0 1%;
		max-width:40px;		
	}

	.title {
		text-decoration:none;
		color:white;
		margin: 0 auto;
	}

	.smallLinkDiv {
		margin-top:30px;
	}

	#avatar {
	width:50vw;
	padding-bottom:20px;
	}

	.CTA.a {
	margin-top:10vh;
	}

	#downArrow {
	width:4vw;
	padding-top:5vh;
	}

}



