/*------------------------------------------------
--------------------------------------------------
GLOBAL SETTINGS-----------------------------------
--------------------------------------------------
------------------------------------------------*/

/******************************************
Font***************************************
******************************************/

h4 {
	font-size:2vw;	
}

h5 {
	font-size:1.5vw;	
	font-variant:small-caps;
}

h3 {
	font-size: 1.2em;
	font-variant: small-caps;
}

h6 {
	margin: 10px 0 0 0;
}

a {
	text-decoration: none;
}

ul {
	list-style:none;
}

.contact, .CTA, .sub-hero-1, .sub-hero-2, .footer, a {
	color: white;
}


/******************************************
Layout*************************************
******************************************/

body {
	font-family: 'Open Sans', sans-serif;
    background-color: rgba(86,181,199,1);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 45px;
	margin: -50px 0 18vh 0;
	background-color: rgba(253,23,39,.8);	
}

.CTA {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	min-height: 50vh;
	width: 80vw;
	padding: 2vh 5vw;
	margin: 50px auto 0vh auto;
}

.portfolio, .companies {
	min-height:50vh;
	margin:45px 5vh 3vh 5vh;
	border:1px solid white;
	background:rgba(231,231,231,.4);
}

.portfolio-pieces {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	padding: 5vw;

}

.portfolio-piece {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 170px;
	max-width: 20%;
	min-height: 250px;
	margin: 20px 5px 0 5px;
	border-bottom:2px solid grey;
	border-right:2px solid grey;
}

.hero {
	width:70vw;
}

.sub-heroes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 2vh;
}

.sub-hero-1, .sub-hero-2 {
	width:30vw;
	min-height:40vh;
	text-align:left;
	border:1px solid white;
	background: rgba(46, 45, 45, 0.6);
	padding-left:1vw;
	margin-left:1vw;

}

.sub-hero-2 {
	padding-left:2vw;
	padding-right:2vw;
	margin-left:.5vw;
}




footer {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: rgba(253,23,39,.8);
}

.social {
	display:flex;
	flex-direction:row;
	justify-content: center;
}

/******************************************
Header*************************************
******************************************/

nav a:hover {
	color: rgba(24, 193, 108,1); 
	transition: .2s, ease-in;
}

nav ul {
	display: flex;
	flex-direction: row;
	border-right: 1px solid white;
}

nav li { 
	border-left: 1px solid white;
	padding:0 4%;
}

/******************************************
Section Shared Settings********************
******************************************/

.section-title {
	width:100%;
	color:black;
	text-align:center;
	padding:30px 0 0 0;
}


/******************************************
CTA****************************************
******************************************/

.CTA h1 {
	font-size:2.5em;
}

.CTA ul {
	padding:0px;
}

.sub-hero-1 h5 {
	margin-left:25px;
}

.sub-heroes h4  {
	color:white;
	margin-top:10px;
}




/******************************************
Portfolio**********************************
******************************************/

.portfolio-title {
	color:white;
	text-shadow:1px 1px 2px rgba(0, 0, 0 ,0 .5);
	background-color:rgba(104,104,104,1);
	text-align: center;
	width:100%;
	height:5vw;
	font-size:1.8vw;
}

.portfolio-description {
	display:flex;
	flex-direction:column;
	background-color:rgba(90,197,163,6);
	padding:0 10px 10px 10px;
	min-height:50px;
	align-self:flex-end;
}

.portfolio-piece h6 {
	color:white;
}




button {
	margin-top:10px;
	background-color:orange;
	width:100%;
}

.inactive {
	background-color:white;
}


.bslc {
	background:url('../images/bslc_bg.jpeg');
	background-size:cover;
}

.blackjack {
	background:url('../images/cards.png');
	background-size:cover;
}

.operationcode {
	background:url('../images/badge.png');
	background-size:80px;
	background-position:center;
	background-repeat:no-repeat;
	background-color:white;
}

/******************************************
Companies**********************************
******************************************/

.companies img {
	height:80px;
	margin:20px;
}

.company-logos  {
	display:flex;
	flex-wrap:wrap;
	margin:30px 0 0 0;
	align-content:space-around;
	justify-content: center;
}

/******************************************
Footer*************************************
******************************************/

footer img {
	height:50px;
	width:50px;
	margin:0 10px 0 0;
}

footer p {
		align-self:center;
	}




/******************************************
Small Screen Special Settings**************
******************************************/

@media only screen and (max-width:500px) {

h4 {
	font-size:3vw;	
}

h5 {
	font-size:3vw;	
	font-variant:small-caps;
}

	header {
		position:fixed;
		margin-top:-50px;
	}

	.portfolio {
		margin-top:5vh;
	}

	.portfolio-title {
		height:10vw;
		font-size:2.8vw;
	}

	.sub-hero-1, .sub-hero-2 {
		width:45vw;
	}

	.sub-heroes {
		margin-bottom:5vh;
	}


	.CTA {
		text-align:center;
	}

	.flex-head {
		width:100vw;
		display:block;
	}


	.logo {
		margin:0 0 0 0;
		align-self:center;
		max-height:40px;
	}

	.logo-burger-title {
		display:flex;
		flex-direction:row;	
		width:100vw;
		height:40px;
		margin:0 0 0 0;
	}

	.burger {
		display:none;
		align-self:center;
		margin:0 0 0 1%;
		max-width:40px;		
	}

	.title {
		text-decoration:none;
		color:white;
		margin: 0 auto;
	}
}

/******************************************
BIG Screen Special Settings****************
******************************************/


 @media only screen and (min-width:500px) {

	.logo-burger-title {
		order:-3;
		align-self:flex-start;
	}

	.CTA {
		order:-2;
	}

	nav {
		order:-1;
	}

	.CTA h6 {
		display:none;
	}

	header {
		position:fixed;
		width:100vw;
		display:inline-flex;
		flex-direction:row;
	}

	.logo-burger-title {

		padding:3px 0 0 0;
		height:40px;
		width:300px;
		display:inline;
	}

	.logo {
		margin:0 10px 0 0;
		max-height:40px;
		align-self:flex-end;
	}


	.title {
		text-decoration:none;
		color:white;
		padding: 0 0 0 45px;
		order:1;
	}

	.portfolio-title {
		height:6vw;
		font-size:2.5vw;
	}

	nav {
		order:2;
		margin-right:6%;
	}

	.burger {
		display:none;
	}
}



