//Code Notes
//1. Didn't use flex-box, since want to support IE.

// VARIABLES
$primaryColor: #FFF;
$sectionDivide: 15%;	
$img-Margin:25px;
$sectionTitleMarginBottom: 5%;
$headerHeight: 50px;
$leftTextMargin:10%;
$moduleHeight:575px;
$textColor:rgba(55,139,213,1);

//FONT SETTINGS


html {
	font-size:100%; //% of browser default ~24px
}

h1, h2, h3, h4, h5, p {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}

h1 {
	font-size:150%;
	font-weight:700;
}

h2 {
	font-size:90%;
}

h3 {
	font-size:100%;
}

h4 {
	font-size:100%;
}

h5 {
	font-size:100%;
}

p {
	font-size:80%;
}

//GLOBAL SETTINGS

body {
	background: $primaryColor;
	background-image: url("../img/class.png");
	overflow:scroll;
	background-repeat: no-repeat;
	background-size:100vw;
	background-position:center;
	background-attachment:fixed;

	img {
		width: 100%;
		margin-bottom: $img-Margin;
	}

	button {
		display:block;
		background:$textColor;
		margin:0 auto;
		width:80%;
		margin-top:2%;
		margin-bottom:2%;
		padding:2%;
	}

	a {
		color:white;
	}
}

.clear {
	clear:both;
}

//HEADER

header {
	display:inline-block;
	position: fixed;
	top: 0;
	z:100;
	background: #fff;
	width: 100%;
	height: $headerHeight;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); /* offset-x | offset-y | blur-radius | spread-radius | color */

	a {
		text-decoration:none;
		color:$textColor;
	}	

	#hamburger {
		display:none;
	}

	header h1 {
		float:left;
	}

	h1, img {
		margin-left:$leftTextMargin;
		font-weight:bold;
		padding:6px; //Fix this later
		width:150px;
	}

	nav {
		float:right;
		margin-right:5%;	

		li {
			display:inline-block;
			margin-left:auto;
			border-right:1px solid grey;
			border-left:1px solid grey;
			margin: 0 10px 0 10px;
			padding: 0 5px 0 5px;
			color:$textColor;
		}	

		h4 {
			font-weight:400;
		}
	}


	#hamburger {
		float:left;
		width:40px;
		height:40px;
		margin-left:5%;
	}
}

//HERO

.hero {
	background:white;
	background-repeat:no-repeat;
	height:100vh;
	width:100%;
	margin:0 auto;
	margin-top:10px;

	.arrow img {
		width:5%;
		margin:1% 55% 0 45%;
	}

	.headline {
		height: 50px;
		width:80%;
		height:auto;
		margin:0 auto;
		text-align:center;
		padding:3% 0 0 0;

		h1 {
			width:50%;
			text-align:center;
			margin:0 auto;
			margin-top:20px;
			font-size:3em;
		}

		h3 {
			width:50%;
			margin:0 auto;
		}
	}
	

	



	.sub-hero-middle {
		float:left;
		margin:2% 0 0 2%;
		width: 45vw;
		min-height: 42%;
		border-top: 1px solid #EEEEEE;
		border-bottom: 1px solid #EEEEEE;
		text-align:center;
		background:rgba(255,255,255,1);
		transition: all .2s ease-in-out; }
		-webkit-box-shadow: 0 8px 6px -6px black;
		   -moz-box-shadow: 0 8px 6px -6px black;
		        box-shadow: 0px 30px 50px -10px grey;

		a {
			text-decoration:none;
		}

		.sub-hero-headline {
			width:30%;
		}

		img {
			width:100%;
			margin:0;
		}

		h3 {
			font-weight:500;
			margin:0 0 2% 0;
			width:100%;
		}
	}

	.sub-hero-middle:hover { 
		transform: scale(1.2); 
	}

	.sub-hero-2 {
		float:left;
		margin:7% 0 0 2%;
		padding:2%;
		width: 17vw;
		min-height: 30%;
		border: 1px solid #EEEEEE;
		text-align:center;
		background:rgba(245,245,245,.9);
		transition: all .2s ease-in-out; 
		-webkit-box-shadow: 0 8px 6px -6px black;
	       -moz-box-shadow: 0 8px 6px -6px black;
	            box-shadow: 0px 30px 50px -10px grey;

		a {
			text-decoration:none;
		}

		.sub-hero-headline {
			width:30%;
		}

		img {
			width:100%;
			margin:0;
		}

		h3 {
			font-weight:500;
			margin:0 0 4% 0;
			width:100%;
		}
	
	}

	.sub-hero-2:hover { 
		transform: scale(1.2); 
	}

//EMPTY DIV

.empty {
	width:100%;
	height:300px;
	clear:both;
}


//WHY

.why {
	margin:0 auto;
	display:block;
	background:rgba(255,255,255,1);
	padding: 6% 0 6% 10%;


	img {
		width:5%;
		margin:-1% 47.5% 0 39%;
	}
	
	#downArrow {
		width:5%;
		margin:3% 60% 0 40%;
	}
	
	.why-box-featured {
		float:left;
		width:40%;
		max-width:80%;
		height:67vh;
		margin-top:2%;
		padding-top:2%;
		background-size:100%;
		border:1px solid black;

		img {
			width:40%;
			margin:auto 30%;
		}

		.kpiDescription {
				margin-top:10%;
				width:100%;
				text-align:center;
				color:black;
				font-size:100%;
				font-weight:100;
			}

		.KPI {
			width:20%;
			padding:5%;
			margin:3% auto;
			text-align:center;
		    background-color:white;
			border:1px solid black;

			h3 {
				font-size:2.1em;
				font-weight:700;
			}

		}
	}

	.why-box {
		float:left;
		width:50%;
		height:18%;
		margin:2%;
		background:rgba(255,255,255,1);
		border:1px solid black;

		.KPI {
			float:left;
			width:10%;
			height:100%;
			padding:2% 2%;
			font-size:100%;
			text-align:center;
			
		img {
			display:block;
			width:100%;
			margin:0 auto;
		}

			h3 {
				font-size:1.4em;
				font-weight:700;
			}
		}

		.kpiDescription p {
				font-size:100%;
				margin-top:4%;
				margin:4% 15%;
				padding-left:1%;
				border-left:1px solid black;
		}
	}
}


//STUDENTS

.students {
	display:flex;
	flex-direction:column;
	background:rgba(255,255,255,1);
	padding:6% 0;
	width:100%;
	height:100vh;
	text-align:center;

		h3 {
			font-weight:500;
			margin:0 0 4% 0;
			width:100%;
		}	

		#downArrow2  {
			width:5%;
			margin:3% 56% 0 44%;
		}

		.allButArrow {
			display:flex;
			flex-direction:row;
		}

	.studentContainer {
		margin-left:2%;
		width: 40vw;

		.students2 {
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			justify-content:center;
			align-content:center;
		}

		.student img {
			width:80%;
			margin:0;
		}

	}

	.student {
		width:90px;
		height:13%;
		background-color:grey;
		border:1px solid white;
	}

	.featuredStudentContainer {

		display:flex;
		flex-direction:column;
		padding:2%;
		width: 30vw;
		margin-right:2%;
		margin-left:8%;
		border: 1px solid #EEEEEE;
		text-align:center;
		background:rgba(255,255,255,.9);
		-webkit-box-shadow: 0 8px 6px -6px black;
	       -moz-box-shadow: 0 8px 6px -6px black;
	            box-shadow: 0px 30px 50px -10px grey;

		a {
			text-decoration:none;
		}

		.sub-hero-headline {
			width:30%;
		}

		img {
			width:50%;
			margin:0 auto;
		}


	}

		h1 {
		margin-bottom: $sectionTitleMarginBottom;
	}

	img {
		width:15%;
		margin:2% 42.5% 0 42.5%;
	}
}



//REQUEST INFO

.requestInfo {
	margin:0 auto;
	display:inline-block;
	background:rgba(255,255,255,1);
	padding:5% 0 1% 0;
	width:100%;
	height:-200px+$moduleHeight;
	color:black;
	text-align:center;



	form {
		width:40%;
		margin:5% auto;
		background-color:white;

	}

	label {
		margin-right:2%;
		display:block;
	}

	h2 {
		margin-bottom: $sectionTitleMarginBottom;
	}
}



//REQUEST INPUTS

.inactiveValue  {
	color:grey;
}

.activeValue {
	color:black;
}

//FOOTER

footer {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:100%;
	background:rgba(255,255,255,1);
	margin-top: 50px;
	padding:10px 0;	

	.icon {
		width:6%;
		min-width:60px;
	}

	.paypalIcon {
		width:30%;
	}

	 a {
		display:inline;
	}

	.footWrap {
		width:50%;
		margin:0 auto;
		text-align:center;
	}

}


//MEDIA QUERIES

//Medium Screens
@media all and (max-width:940px) {

	#hamburger {
		display:display;
	}

	nav {
		display:none;
	}

	h1 {
		text-align:center;
	}

	.hero {
		margin:0 auto;
	}

	.headline {	
		width:100%;	
	}
		.hero .headline h3 {
		margin:0 10%;
		width:80%;	
	}

		.why {

	 	.why-box {
	 		float:none;
			width:74%;
			min-height:180px;
			margin:0 auto;
			padding:3%;
			background:rgba(255,255,255,1);
			border:1px solid black;

			.KPI {
				h3 {
					font-size:2em;
				}
			}

				 p {
				
					font-size:100%;
				
			}
		}
	}
}

//Small Screens
@media all and (max-width:700px) and (min-width:1px)  {

	.hero .sub-hero-1, .hero .sub-hero-2 {
		margin:30px 9%;
	}

	.why {

	 	.why-box {
	 		float:none;
			width:74%;
			min-height:180px;
			margin:0 auto;
			padding:3%;
			background:rgba(255,255,255,1);
			border:1px solid black;

			.KPI {
				h3 {
					font-size:2em;
				}
			}

				 p {
					font-size:100%;
				
			}
		}
	}

	#hamburger {
		display:display;
	}

	nav {
		display:none;
	}

	h1 {
		text-align:center;
	}

	.headline {
		width:100%;
	}

	.hero {
		width:100%;
		height:100%;
		
		.headline h3 {
			margin:10px 0 0 0;
			width:95%;
		}

		.sub-hero-2, .sub-hero-1 {
			height:50%;
			width:80%;	
			border: 1px solid grey;
			float:none;
		}
	}

	
}



////CURRICULUM PAGE

.curriculumTitle {
	text-align:center;
	margin-bottom:1%;
}


.curriculum-15 {
	border:1px solid grey;
	background:white;
	width:100%;
	margin-bottom:2%;
}

.curriculum-15 h3 {
	background:grey;
}

.curriculumWrapper {
	background:white;
	margin:$headerHeight+30px 10% 0 2%;
}

.whiteBG {
	background:white;
}

.learnMore-25 {
	float:left;
	border:1px solid grey;
	background:white;
	width:40%;
	margin-bottom:2%;
	margin-left:4%;
	margin-right:4%;
	margin-top:3%;
}

.learnMore-25 h3 {
	background:grey;
}

.learnMore-25 p {
	padding: 4%;
}

.video {
	float: left;
	width:100%;	
}




/////TUITION PAGE

.tuitionMainWrapper {
	background:white;
}

.tuitionWrapper {
	padding-top:5%;

	table, tr, td {
		border:1px solid black;
		margin:2% auto;
		padding:2%;
		
	}

	h3 {
		text-align:center;
		background:grey;
	}

}

.topTuition {
	margin:0 10% 0 10%;
}

.tuition-20 {
	float:left;
	border:1px solid grey;
	background:white;
	width:20%;
	margin-bottom:2%;
}


.tuition-100 {
	border:1px solid grey;
	background:white;
	width:100%;
	margin-bottom:2%;
}



