h1, h2, h3, h4, h5, h6, p {
	margin:0;
	padding:0;
}

h1 {
	font-size:150%;
}

p {
	font-size:90%;
}

body {
	background-color:rgba(30,177,145,.5);
	background-repeat: repeat;
	background-size: 100px;;
}


.user_msg {
	margin-top:1px;
}

.hero {
	padding-top:20vh;
	text-align:center;
}

.hit, .stay {
	width:100px;
	height:50px;
	background-color:orange;
}

#deal_me {
	display:flex;
	flex-direction:row;
	justify-content: center;
	min-width:20%;
	min-height:50px;
	margin:0 40% 0 40%;
	background-color:orange;
}

.sub-hero {
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.main-content h1 {
	color:white;
}

#actions {
	display:flex;
	flex-direction:row;
	justify-content: center;
	width:100%;
}

.user_msg {
	background-color:white;
	border:1px solid white;
	border-radius:2%;
	padding:2vh 2vw 2vh 2vw;
	text-align:center;
	width:40%;
	height:1%;
	margin-bottom:5%;
}

.rules {
	background-color:white;
	border:1px solid white;
	border-radius:2%;
	padding:2vh 2vw 2vh 2vw;
	margin-top:10px;
	text-align:left;
	width:50%;
	height:1%;
	margin-bottom:5%;
}


.user_score {
	background-color:white;
	text-align:center;
	border:1px solid white;
	border-radius:2%;
	width:27%;
	margin:2%;
}


#deal_div {
	width: 25vw;
	align-self: center;
}

.main-content {
	width:100%;
	padding-top:5%;
	text-align:center;
}

.main-answer, .main-rules {
	background-color:white;
	width:40%;
	padding:1%;
	box-shadow:2px 2px 2px 	black;
}

@media only screen and (min-width:0px) and (max-width:500px) {
	
	.user_msg{
			width:90%;
	}

	 .user_score {
	 	width:70%;
	 }


}	

